

.header {
  background-color: red;
  grid-area: red;
  width: 500px;
  height: 200px;
}

.navigation {
  background-color: green;
  grid-area: green;
  width: 500px;
  height: 100px;
}

.sidebar {
  background-color: yellow;
  grid-area: yellow;
  width: 200px;
  height: 400px;
}

.content {
  background-color: blue;
  grid-area: blue;
  width: 300px;
  height: 400px;
}

.footer {
  background-color: grey;
  grid-area: grey;
  width: 500px;
  height: 200px;
}
.wrapper {
  display: grid;
  grid-template-columns:  ;
  grid-template-rows: ;
  grid-template-areas:
  "red"
  "green"
  "yellow blue"
  "grey";
}
